<!DOCTYPE html>
<html>
<head>
	<title>PenExpress</title>

	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i|Roboto+Slab:100,300,400,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
	<link href="/style.css" rel="stylesheet">

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
	<div class="indexPageContainer">
		<h1>Edit document</h1>
		<form action="/submedit" method="POST">
			<input name="__id" value=<%= id %> type="hidden">
			<textarea name="new_content" class="appear everyInput" rows="16" cols="64" placeholder="Lorem ipsum, blah blah blah...." required><%= text %></textarea>
			<input name="pswd" type="password" placeholder="Enter password" class="everyInput" required>
			<input type="submit" class="everyInput">
			<div class="g-recaptcha" data-sitekey="<%= captcha %>"></div>
		</form>
	</div>

	<script src="/jquery/dist/jquery.min.js"></script>
	<script src="/typed.js/lib/typed.min.js"></script>
	<script src="/socket.io-client/dist/socket.io.slim.js"></script>
	<script src="/index.js"></script>
</body>
</html>