body {
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-weight: normal;
}

.indexPageContainer, .pageContainer {
	
	margin: 32px auto;
	max-width: 32rem;
}

.indexPageContainer {
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Slab', serif;
}

.indexPageContainer h1 {
	font-size: 250%;
	text-align: center;
}

.appear {
	-webkit-animation: 1.5s appear ease-in-out;
	animation: 1.5s appear ease-in-out;
}

@-webkit-keyframes appear {
	0% {
		transform: translateY(-100%);
		-webkit-transform: translateY(-100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0%);
		-webkit-transform: translateY(0%);
		opacity: 1;
	}
}

@keyframes appear {
	0% {
		transform: translateY(-100%);
		-webkit-transform: translateY(-100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0%);
		-webkit-transform: translateY(0%);
		opacity: 1;
	}
}

.everyInput {
	font-family: 'Roboto Mono', monospace;
	margin: 16px 0;
	font-size: 70%;
	resize: none;
	padding: 16px;
	border-radius: 8px;
	border: 1px dashed #000;
	max-width: 75%;
}

code {
	padding: 1px;
	background: #ededed;
	border-radius: 2px;
	font-family: 'Roboto Mono', monospace;
}

.typed-cursor {
	display: none;
}

#appearaftertype {
	opacity: 0;
}

.g-recaptcha {
	display: inline;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	margin-top: 84px;
}